<% content_for :head do %>
<%#= stylesheet_link_tag "users/or_something" %>
<%#= javascript_pack_tag 'javascript/js/theme.min.js' %>

<%# <link rel="stylesheet" href="../../assets/css/theme.min.css"> %>
<%#= stylesheet_link_tag 'feather', media: "all", 'data-turbolinks-track': 'reload' %>
<%#= stylesheet_link_tag 'eu-added', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>



<!-- Page Content -->
<div class="py-lg-14 py-10 position-relative bg-cover "
  style="background-image: url(<%= image_path 'gradient-bg.png';%>)">

  <!-- Image -->
  <div class="container">
    <div class="row align-items-center mb-6">


      <div class="col-12 col-lg-5 order-md-1 text-center">
        <!-- Heading -->
        <h3 class=""> The simplest 1-page </h3>
        <h1 class="display-4 fw-bold">
          Checkout Page
          <%# Have your customers paying you without you setting  %>
        </h1>
        <h3 class="mb-5"> for coaches, consultants and experts </h3>
        <!-- list -->
        <ul class="list-unstyled fs-5 text-dark
               mb-6 fw-medium">
          <li class="mb-1 d-flex"><i class="fas fa-check-circle lh-15 green"></i> &nbsp; So crazy simple. It hurts.</li>
          <li class="mb-1 d-flex"><i class="fas fa-check-circle lh-15 green"></i> &nbsp; Takes 5 mins to set it up!</li>
          <li class="mb-1 d-flex"><i class="fas fa-check-circle lh-15 green"></i> &nbsp; Charge any amount. $7 or $3k+
            payments</li>

          <li class="mb-1 text-center pt-5 "> Try this for yourself below:</li>
        </ul>
        <!-- Buttons -->
        <div class="mb-8 mb-lg-0">

          <a href="https://cartcheckout.net" target="_blank"
            class="btn btn-light btn-rounded me-3 mb-2 mb-lg-0 py-3 px-5 fs-5">
            Preview #1
          </a>

          <a href="https://cartcheckout.net/products/1" target="_blank"
            class="btn btn-light btn-rounded me-3 mb-2 mb-lg-0 py-3 px-5 fs-5">
            Preview #2
          </a>


        </div>

      </div>


      <div class="col-12 col-lg-7 order-md-2">
        <div class="mb-2 mb-md-0 text-center" style="">
          <%= image_tag "graphics.svg",class:'img-fluid mw-md-130' %>
        </div>

        <%# <div class="text-center">
          <a href="https://cartcheckout.net/products/2" target="_blank"
            class="btn btn-primary btn-border btn-rounded me-3 mb-2 mb-lg-0 py-3 px-5 fs-5">
            Get started
          </a>
        </div> %>

      </div>


    </div>
    <!-- Hero Section -->
    <!-- row -->
    <div class="row mt-10">
      <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
        <!-- Heading -->



      </div>
    </div>

  </div>
</div>




<div class="py-8 pb-lg-18">
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-lg-8 col-md-12 col-12 text-center">
        <!-- caption -->
        <span class="text-primary mb-3 d-block text-uppercase fw-semi-bold ls-xl">I know what you are thinking...</span>
        <h2 class="mb-2 display-4 fw-bold ">Another cart? meh...</h2>
        <%# <p class="lead">Look let's be honest. Do you have time to play around with technology?</p> %>
        <p class="fs-3 text-left prewrap">I know, I know there are a gazillion of carts that you can get. But.. Let me ask you this.. Do you have time to play around with all complex technology other carts have?
          <br> <u>This cart is the last cart you should have and I will prove it to you by the end of this letter...</u>
        </p>
        <h2 class="mb-2 display-4 fw-bold  ">My coaching horror story</h2>
        <p class="fs-3 text-left prewrap">Hi, my name is Gene Adam. When I first started online, I borrowed a lot of money because I wanted to start a business and as most entrepreneurs got in huge debt. I borrowed $30k and I spent it pretty fast.
          I got a funnel designer..
          I got a programmer..
          I got a video editor..
          I got a copywriter..
          I got a FB ad guy..
          and I crashed..
          and burned..
          ......
          ....
          ..
          💥
          sounds
          familiar?

          When the $30k was gone, I got a ridiculously horrible funnel. You couldn't even call it a funnel. I couldn't pay for a cart software like Click Funnels $100 per month so I cancelled it.

          <u>And get this.. I COULDN'T CHARGE PEOPLE MONEY!</u>
          So here I am, a coach who wants to charge people for coaching and can't get money from people? 🤔 </p>

        <h2 class="mt-5  display-4 fw-bold  ">Damn you consultants</h2>
        <h3 class="text-center text-muted fs-5">(Just kidding. I love you consultants)❤️</h3>
        <p class="fs-3 text-left prewrap ">
           So I got pissed off. I learned a new programming language Ruby and programmed it myself. And, I wanted to make it damn easy for people like me that don't have patience with tech.

           <u>But this cart is not limited only to coaches.</u>

           If you receive money from your consulting clients - it's for you.
           If you receive money from your side jobs - it's for you.
           If you sell PDF or physical books - it's for you.
           If you sell almost anything - it's for you.
           If you sell coaching - it's for you.
           If you sell courses - it's for you.
           If you sell funnels - it's for you.

         </p>

        <h2 class="mt-5  display-4 fw-bold ">But... Here's one problem</h2>
        <h3 class="  fs-2 fw-bold "><u>Here's exactly what's wrong with this cart</u> </h3>
         <p class="fs-3 text-left prewrap ">
           This cart is currently in <u>beta version</u> so before I go live and sell a monthly subscription of $15/mo, <u>I will sell this cart for a one-time lifetime payment of <strike>$197</strike> $97.</u>

           That's right $97, that's a steal. I could easily charge you $300 for LIFETIME but I won't.

           To tell you the truth I don't even know if this price will ever be justified for me.

           But I know it will serve YOU! Frankly by my calculations I'll still lose money on this once I advertise on Facebook Ads. It's definately a WIN for you and a LOSS for me. But I'm here to serve my customers instead of being a greedy snob!        </p>

         <p class="fs-4 text-left prewrap ">
         <i>Beta version means that we're adding some new features and testing them, which means you will get even more goodness from this cart and you don't have to pay a dime for it..</i>
         </p>

        <div class="text-center">

          <%
=begin%>
 <a  href="https://cartcheckout.net/products/2" target="_blank"
            class="btn btn-warning btn-rounded me-3 mb-2 mb-lg-0 py-3 px-5 fs-3">
            Get started
          </a>
<%
=end%>



        </div>


<hr class="my-lg-12 my-8">



        <h2 class="mt-5  display-4 fw-bold ">Problem #2</h2>
        <h3 class="  fs-2 fw-bold "><u>not really a problem but something to keep in mind</u> </h3>
         <p class="fs-3 text-left prewrap ">
           This cart requires Stripe and it's free(<a target="_blank" href="https://stripe.com">https://stripe.com</a>).

           If you already have Stripe then don't worry. All you need is just authorize it and voila! You are ready to take money from people.
         </p>

        <h2 class="mt-5  display-4 fw-bold ">Why the cart is on Stripe?</h2>
         <p class="fs-3 text-left prewrap ">
          1. Opening a Stripe account is free and there's no monthly charges (they only charge a tiny fee when the sale is made)

          2. Because they are solid like a rock and their system is VERY stable. <u>After all it's your money. We have to keep them safe in Stripe. </u>They thoroughly check payments for fraud. So they can protect you against hackers, spammers and things like that. Wouldn't you want to be secure?
         </p>

        <h2 class="mt-5  display-4 fw-bold ">I'm walking the walk.</h2>
         <p class="fs-3 text-left prewrap ">
         I'm not just talking the talk, I'm using this cart for my book funnel. You can check how it's working here: <a href="https://limitlessaudience.com">https://limitlessaudience.com</a> by clicking the order button.

         I'm also using it for my coaching clients who pay me different amounts. Some of them pay me $3,000 and some $5,000+ The cool part is they can type in any price in the form. It's handy. Or you can set and lock the price.
         </p>

<%=  image_tag "graphics.svg" %>


        <h2 class="mt-5  display-4 fw-bold ">Do we send invoices to customers?</h2>
         <p class="fs-3 text-left prewrap ">
         Yes! Your customers will receive the invoices automatically after purchase. And you can insert an access link to your members area or thank you page.
         </p>

        <h2 class="mt-5  display-4 fw-bold ">But how about support?</h2>
         <p class="fs-3 text-left prewrap ">
         Don't worry. I know that you are thinking that we won't support if it's in beta. Far from the truth. It's quite the opposite. <u>We will give you great support because we are still developing the cart</u> and need your feedback.
         </p>

        <h2 class="mt-5  display-4 fw-bold ">But what will happen when it becomes a monthly subscription?</h2>
         <p class="fs-3 text-left prewrap ">
         Don't worry. <u>You are locked in for a lifetime purchase.</u> It means once you paid $97 now you won't be charged ever again.
         </p>

        <h2 class="mt-5  display-4 fw-bold ">Disclaimer and an exception</h2>
         <p class="fs-3 text-left prewrap ">
         We reserve a right to cap your sales up to <u>1000 sales / month</u>. It means that if you pay $97, if you make over 1000 sales per month, there's a possibilty that we might have too many people on the server. If you have more than 1000 sales per month we might contact you and renegotiate the $97 for a monthly fee.

         It is not because we want to make more money off you, it's just that our server might crash and we might have to build a personal server just for you and maintain it! Don't worry, we got the tech down. 👨‍💻

         </p>

        <div class="text-center">

          <%
=begin%>
 <a href="https://cartcheckout.net/products/2" target="_blank"
            class="btn btn-primary btn-border btn-rounded me-3 mb-2 mb-lg-0 py-3 px-5 fs-3">
            Get started
          </a>
<%
=end%>



        </div>


      </div>
    </div>
    <!-- row -->
    <%# <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- features -->
        <div class="mb-4">
          <!-- icon -->
          <div class="display-4 text-primary">
            <i class="fe fe-settings"></i>
          </div>
          <!-- para -->
          <div class="mt-4">
            <h3>Benefit</h3>
            <p class="fs-4">Benefit </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- features -->
        <div class="mb-4">
          <!-- icon -->
          <div class="display-4 text-primary">
            <i class="fe fe-user"></i>
          </div>
          <!-- para -->
          <div class="mt-4">
            <h3>Benefit</h3>
            <p class="fs-4">Benefit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- features -->
        <div class="mb-4">
          <!-- icon -->
          <div class="display-4 text-primary">
            <i class="fe fe-award"></i>
          </div>
          <!-- para -->
          <div class="mt-4">
            <h3>Benefit</h3>
            <p class="fs-4">Benefit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- features -->
        <div class="mb-4">
          <!-- icon -->
          <div class="display-4 text-primary">
            <i class="fe fe-users"></i>
          </div>
          <!-- para -->
          <div class="mt-4">
            <h3>Benefit</h3>
            <p class="fs-4">Benefit</p>
          </div>
        </div>
      </div>
    </div> %>
  </div>
</div>



<!-- Client logo -->


<!-- image section -->
<div class="pb-lg-16 pb-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <!-- image -->
        <div class="mb-4 mb-lg-0">
          <%# <img src="../../assets/images/svg/featured-img-1.svg" alt="..." %>
          <%# class="img-fluid w-100"> %>
          <%= image_tag "featured-img-1.svg",class:'img-fluid w-100' %>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 mt-4 mt-lg-0">
        <!-- content -->
        <div class="ps-lg-7">
          <span class=" text-primary ls-md text-uppercase
                fw-semi-bold">Build fast, launch faster</span>
          <h2 class="display-4 mt-4 mb-3 fw-bold">Cart Recap</h2>
          <h3>Some of the most important features</h3>
          <div class="mt-5 row">
            <!-- list -->
            <div class="col">
              <ul class="list-unstyled fs-4
                    fw-medium">
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Easy to setup</li>
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Highly converting page</li>
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Top security</li>
              </ul>
            </div>
            <div class="col">
              <!-- list -->
              <ul class="list-unstyled fs-4
                    fw-medium">
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Email Invoices</li>
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Customer Emails</li>
                <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                        text-success me-2"></i>Unlimited Carts</li>
              </ul>
            </div>
          </div>
              <br>
              <h3><u>This cart is worth at least $300 per year.</u></h3>
              <br>
              <h4>  I'm giving it away so cheap I probably will regret it later.</h4>

        </div>
      </div>
    </div>
    <!-- divider -->
    <hr class="my-lg-12 my-8">
    <div class="row align-items-center">
      <!-- col -->
      <div class="col-lg-6 col-md-12 col-12">
        <!-- content -->
        <div class="pe-lg-6 ps-lg-6">
          <span class="text-primary ls-md text-uppercase
                fw-semi-bold">Testing</span>
          <h2 class="display-4 mt-4 mb-3 fw-bold">Test Ideas</h2>
          <h3>You know how you have an idea... But you don't know if it's gonna sell?</h3>
          <div class="mt-6">
            <!-- icon with para -->
            <div class="d-flex mb-4">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-star-fill text-primary mt-1" viewBox="0 0 16 16">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
              </div>
              <div class="ms-3">
                <!-- content -->
                <h3 class="mb-2 fs-5">What if you could make a payment page and test if people buy?</h3>
                <p class="mb-0 fs-4"></p>
              </div>
            </div>
            <!-- icon with para -->
            <div class="d-flex mb-4">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-life-preserver mt-1 text-primary" viewBox="0 0 16 16">
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              </div>
              <!-- content -->
              <div class="ms-3">
                <h3 class="mb-2 fs-5">You can start selling without pulling your hair</h3>
                <p class="mb-0 fs-4"></p>
              </div>
            </div>
            <!-- icon with para -->
            <div class="d-flex ">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-file-earmark-text-fill text-primary mt-1" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
                </svg>
              </div>
              <!-- content -->
              <div class="ms-3">
                <h3 class="mb-2 lh-1 fs-5">Concentrate on your work. Don't waste time on small things
                <%# <span class="badge bg-light-warning fs-6
                        text-warning ms-1">coming soon</span> %>
                        </h3>
                <p class="mb-0 fs-4"></p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <!-- image -->
        <div class="mt-4 mt-lg-0">
          <%# <img src="../../assets/images/svg/featured-img-2.svg" alt="..." %>
          <%# class="img-fluid w-100"> %>
          <%= image_tag "featured-img-1.svg",class:'img-fluid w-100' %>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- app intigration -->
<%# <div class="py-lg-14 py-8 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-12 col-12">
                        <!-- heading -->
            <div class="text-center mb-8">
              <span class="text-warning ls-md text-uppercase
                fw-semi-bold">App Integration sections

              </span>
              <h2 class="display-3 mt-4 mb-3 text-white fw-bold">Integrate with the Apps</h2>
              <p class="lead text-white-50 px-8">Build on your workflow with
                apps that
                integrate with Geeks UI.</p>
            </div>
          </div>
        </div>
                    <!-- row -->
        <div class="row">
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/dropbox-logo.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">Dropbox</h3>
                <p class="mb-0 text-white-50">Bring your files
                  and cloud
                  content together.</p>
              </div>

            </div>
          </div>
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
            <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent
              h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/hubspot.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">HubSpot</h3>
                <p class="mb-0 text-white-50">Full platform of
                  marketing, sales,
                  other service.</p>
              </div>

            </div>
          </div>
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
            <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent
              h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/google-drive.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">Drive</h3>
                <p class="mb-0 text-white-50">Integrates
                  seamlessly with
                  Docs, Sheets...</p>
              </div>

            </div>
          </div>
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
            <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent
              h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/slack-logo.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">Slack</h3>
                <p class="mb-0 text-white-50">New way to
                  communicate with
                  your team</p>
              </div>

            </div>
          </div>
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
            <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent
              h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/zapier.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">Zapier</h3>
                <p class="mb-0 text-white-50">Streamline work
                  with automation
                  today.</p>
              </div>

            </div>
          </div>
          <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
            <!-- card card-borderd  -->
            <div class="card card-bordered border-gray-800 bg-transparent
              h-100">
              <!-- card body  -->
              <div class="card-body">
                <img src="../../assets/images/brand/dropbox-logo.svg" alt=""
                  class="icon-lg mb-3">
                <h3 class="text-white">HubSpot</h3>
                <p class="mb-0 text-white-50">Full platform of
                  marketing,sales,
                  other service.
                </p>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <!-- button  -->
          <div class="col-12 text-center mt-8">
            <a href="#" class="btn btn-primary">View All Apps</a>
          </div>
        </div>
      </div>
    </div> %>
<!-- testimonials  -->
<div class="pt-lg-5 pb-lg-14 pt-8 pb-8">
  <div class="container">
    <div class="row">
      <div class=" col-12 text-center">
        <div class="mb-10 mb-md-0">
          <!-- image  -->
          <div class="mb-4">
            <%# <img src="../../assets/images/svg/hubspot-logo.svg" alt=""> %>
          <%= image_tag 'jocha.jpg', class: "btn-rounded"  %>

          </div>
          <!-- para  -->
          <p class="fs-3 mb-5">"I am very satisfied with my
            cart. I can test ideas before they become successful. Thank
            you for your support."</p>
          <h4 class="mb-0">Kate Jocha</h4>

          <p>- <i>Upsellcart</i> Customer</p>

        </div>
      </div>


    </div>
    <!-- divider  -->
    <hr class="my-lg-12 my-8">


    <!-- small cta  -->
    <div class="row text-center mt-8">
      <div class="offset-lg-3 col-lg-6 col-md-12 col-12">
        <h2>Have more questions?</h2>
        <p class="fs-5">Email me at: <br> support @ geneadam.com (without spaces)</p>
        <p class="fs-5">Or, send me a message on FB <a href="https://fb.com/eugenedm">here</a></p>
      </div>
    </div>
  </div>
</div>
<!-- cta with bg color  -->
<div class="py-14 bg-dark">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
        <span class="fs-4 text-warning ls-md text-uppercase
              fw-semi-bold">Guarantee

        </span>
        <!-- heading  -->
        <h2 class="display-3 mt-4 mb-3 text-white fw-bold">Just try it out on us!
         </h2>
         <h3 class="text-white">Ironclad Guarantee: <br> <br> if  you don't like it for any reason you'll get your money back.</h3>
        <!-- para  -->



<p class="fs-2 p-3"><u class="big"> The first 200 people get it for <strike>$197</strike> $97. If you are late you pay subscription <strike>$47</strike>/mo</u></p>

<%
=begin%>


<%
=end%>



      </div>
    </div>
  </div>
</div>









<!-- footer -->

<%= render  "shared/footer" %>



