
	  <!-- Page content -->
	  <div class="container d-flex flex-column">
	    <div class="row align-items-center justify-content-center g-0 min-vh-100">
	      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
	        <!-- Card -->
	        <div class="card shadow">
	          <!-- Card body -->
	          <div class="card-body mx-4">
	            <div class="mb-4">
	              <h1 class="mb-2 fw-bold">Login</h1>
	              <%# <span>Don't have an account? <a href="/users/sign_up" class="ms-1">Sign Up</a></span> %>
	            </div>

	            <!-- Form -->
	            <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false })  do |f| %>
	            <div class="field py-2">
	              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",placeholder:"Email" %>
	            </div>

	            <div class="field py-2">
	              <%= f.password_field :password, autocomplete: "current-password", class:"form-control",placeholder:"Password" %>
	            </div>

	            <% if devise_mapping.rememberable? %>
	            <div class="field pt-2">
	              <%= f.check_box :remember_me %>
	              <%= f.label :remember_me %>
	            </div>
	            <% end %>

	            <div class="d-grid pt-4 pb-1">
	              <%= f.submit "Log in", class:"btn btn-lg btn-primary" %>
	            </div>
	            <% end %>

	          </div>

	          <div class="line my-3">
	            <hr class="line">
	            <p class="line text-center"><%= render "devise/shared/links" %>
	            </p>
	          </div>

	        </div>
	      </div>

	    </div>
	  </div>

