<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer_transaction.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer_transaction.email %>
</p>

<%= link_to 'Edit', edit_customer_transaction_path(@customer_transaction) %> |
<%= link_to 'Back', customer_transactions_path %>
